<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379695783404-t6e7rfl3gfrb9r8089mekc9e9d6g3ies.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379695783404-t6e7rfl3gfrb9r8089mekc9e9d6g3ies</string>
	<key>API_KEY</key>
	<string>AIzaSyBq1OEJd-Qimqv9tPFl2RNObV2wvDUwljs</string>
	<key>GCM_SENDER_ID</key>
	<string>379695783404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.onboardingflow</string>
	<key>PROJECT_ID</key>
	<string>fly-pro-asqtbr</string>
	<key>STORAGE_BUCKET</key>
	<string>fly-pro-asqtbr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379695783404:ios:f4e391b218bf3403cab4c9</string>
</dict>
</plist>